## SQLite Database Management

Create a database, store your interesting movie names with the names of lead actor, actress, year of release and the director name. Once you have stored the details, then use any programming language of your choice to retrieve the details.

#### Importing required libraries

In [40]:
import sqlite3 as sql
import pandas as pd

#### Creating new SQLite database

In [41]:
connection=sql.connect('movie_database.db')
cursor=connection.cursor()

In [42]:
cursor.execute("DROP TABLE IF EXISTS movies_database")

#### Creating new table - movies

In [52]:
table = """ CREATE TABLE movies(
            movieName VARCHAR(50) NOT NULL,
            actorName CHAR(25) NOT NULL,
            actressName CHAR(25),
            yearOfRelease INT NOT NULL,
            directorName CHAR(25) NOT NULL
            );"""

In [ ]:
cursor.execute(table)

In [54]:
query = ''' SELECT * FROM movies'''
df = pd.read_sql_query(query, connection)
df

Empty DataFrame
Columns: [movieName, actorName, actressName, yearOfRelease, directorName]
Index: []

#### Inserting data into movies table

In [ ]:
cursor.execute('''INSERT INTO movies VALUES ('The Space Between Us', 'Asa Butterfield', 'Britt Robertson', '2017','Peter Chelsom')''')
cursor.execute('''INSERT INTO movies VALUES ('Moonshot', 'Cole Sprouse', 'Lana Condor', '2022','Christopher Winterbauer')''')
cursor.execute('''INSERT INTO movies VALUES ('Vikram', 'Kamal Hassan, Fahad Fasil, Vijay Sethupathi', '', '2022','Lokesh Kanagaraj')''')
cursor.execute('''INSERT INTO movies VALUES ('Chemical Hearts', 'Austin Abrams', 'Lilli Reinhart', '2020','Richard Tanne')''')
cursor.execute('''INSERT INTO movies VALUES ('Black Panther','Chadwick Boseman','','2018','Ryan Coogler')''')
cursor.execute('''INSERT INTO movies VALUES ('The Maze Runner', 'Dylan OBrien,Will Poutler,Thomas Brodie-Sangster','Patricia Clarkson', '2014','Wes Ball')''')
cursor.execute('''INSERT INTO movies VALUES ('To All The Bright Places', 'Justice Smith', 'Elle Fanning', '2020','Brett Haley')''')
cursor.execute('''INSERT INTO movies VALUES ('Marvel- Spider Man No Way Home', 'Tom Holland', 'Zendaya', '2021 ','Jon Watts')''')
cursor.execute('''INSERT INTO movies VALUES ('Marvel- Shang-Chi and The Legend of The Ten Rings', 'Simu Liu', 'Awkwafina', '2021',' Destin Daniel Cretton')''')
cursor.execute('''INSERT INTO movies VALUES ('Red Notice', 'Ryan Reynolds, Dwayne Johnson', 'Gal Gadot', '2021',' Rawson Marshall Thurber')''')

#### Displaying the table after inserting the values

In [ ]:
query = ''' SELECT * FROM movies'''
df = pd.read_sql_query(query, connection)
df

,movieName,actorName,actressName,yearOfRelease,directorName
0,The Space Between Us,Asa Butterfield,Britt Robertson,2017,Peter Chelsom
1,Moonshot,Cole Sprouse,Lana Condor,2022,Christopher Winterbauer
2,Vikram,"Kamal Hassan, Fahad Fasil, Vijay Sethupathi",,2022,Lokesh Kanagaraj
3,Chemical Hearts,Austin Abrams,Lilli Reinhart,2020,Richard Tanne
4,Black Panther,Chadwick Boseman,,2018,Ryan Coogler
5,The Maze Runner,"Dylan OBrien,Will Poutler,Thomas Brodie-Sangster",Patricia Clarkson,2014,Wes Ball
6,To All The Bright Places,Justice Smith,Elle Fanning,2020,Brett Haley
7,Marvel- Spider Man No Way Home,Tom Holland,Zendaya,2021,Jon Watts
8,Marvel- Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
9,Red Notice,"Ryan Reynolds, Dwayne Johnson",Gal Gadot,2021,Rawson Marshall Thurber

#### Query-1: Sorting the movies table by yearOfRelease

In [ ]:
query1 = ''' SELECT * FROM movies ORDER BY 
    yearOfRelease DESC'''
df = pd.read_sql_query(query1, connection)
df

,movieName,actorName,actressName,yearOfRelease,directorName
0,Moonshot,Cole Sprouse,Lana Condor,2022,Christopher Winterbauer
1,Vikram,"Kamal Hassan, Fahad Fasil, Vijay Sethupathi",,2022,Lokesh Kanagaraj
2,Marvel- Spider Man No Way Home,Tom Holland,Zendaya,2021,Jon Watts
3,Marvel- Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
4,Red Notice,"Ryan Reynolds, Dwayne Johnson",Gal Gadot,2021,Rawson Marshall Thurber
5,Chemical Hearts,Austin Abrams,Lilli Reinhart,2020,Richard Tanne
6,To All The Bright Places,Justice Smith,Elle Fanning,2020,Brett Haley
7,Black Panther,Chadwick Boseman,,2018,Ryan Coogler
8,The Space Between Us,Asa Butterfield,Britt Robertson,2017,Peter Chelsom
9,The Maze Runner,"Dylan OBrien,Will Poutler,Thomas Brodie-Sangster",Patricia Clarkson,2014,Wes Ball

#### Query-2: Updating the movies table by yearOfRelease

In [ ]:
cursor.execute('''UPDATE movies SET yearOfRelease = 2022 WHERE directorName == 'Christopher Winterbauer' ''')
df = pd.read_sql_query("SELECT * FROM movies", connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,The Space Between Us,Asa Butterfield,Britt Robertson,2017,Peter Chelsom
1,Moonshot,Cole Sprouse,Lana Condor,2022,Christopher Winterbauer
2,Vikram,"Kamal Hassan, Fahad Fasil, Vijay Sethupathi",,2022,Lokesh Kanagaraj
3,Chemical Hearts,Austin Abrams,Lilli Reinhart,2020,Richard Tanne
4,Black Panther,Chadwick Boseman,,2018,Ryan Coogler
5,The Maze Runner,"Dylan OBrien,Will Poutler,Thomas Brodie-Sangster",Patricia Clarkson,2014,Wes Ball
6,To All The Bright Places,Justice Smith,Elle Fanning,2020,Brett Haley
7,Marvel- Spider Man No Way Home,Tom Holland,Zendaya,2021,Jon Watts
8,Marvel- Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
9,Red Notice,"Ryan Reynolds, Dwayne Johnson",Gal Gadot,2021,Rawson Marshall Thurber

#### Query-3: Selecting the movies which has yearOfRelease <= 2020

In [ ]:
query3 = ''' SELECT * FROM movies WHERE yearOfRelease <= 2019'''
df = pd.read_sql_query(query3, connection)
df

,movieName,actorName,actressName,yearOfRelease,directorName
0,The Space Between Us,Asa Butterfield,Britt Robertson,2017,Peter Chelsom
1,Black Panther,Chadwick Boseman,,2018,Ryan Coogler
2,The Maze Runner,"Dylan OBrien,Will Poutler,Thomas Brodie-Sangster",Patricia Clarkson,2014,Wes Ball

#### Query-4: Selecting the movies which has No Actor or Actress Name

In [ ]:
query4 = ''' SELECT * FROM movies WHERE actorName ='' OR actressName =''  '''
df = pd.read_sql_query(query4, connection)
df

,movieName,actorName,actressName,yearOfRelease,directorName
0,Vikram,"Kamal Hassan, Fahad Fasil, Vijay Sethupathi",,2022,Lokesh Kanagaraj
1,Black Panther,Chadwick Boseman,,2018,Ryan Coogler

#### Query-5: Selecting a movie with specific director name

In [ ]:
query5 = ''' SELECT * FROM movies WHERE directorName == 'Wes Ball' '''
df = pd.read_sql_query(query5, connection)
df

,movieName,actorName,actressName,yearOfRelease,directorName
0,The Maze Runner,"Dylan OBrien,Will Poutler,Thomas Brodie-Sangster",Patricia Clarkson,2014,Wes Ball

#### Query-6: Deleting the movie  "Black Panther"

In [34]:
cursor.execute('''DELETE FROM movies WHERE movieName == 'Black Panther' ''')
df = pd.read_sql_query("SELECT * FROM movies", connection)
df

Empty DataFrame
Columns: [movieName, actorName, actressName, yearOfRelease, directorName]
Index: []